<p style="color: green"><%= notice %></p>

<h1>Movies</h1>
<div class='flex item-start'>
  <div id="movies">
    <%= @movie.title %>
    <%= @movie.rating %>
  </div>

  <%= button_to "Next Suggestion", movies_path, class: 'bg-black'%>
</div>
<%= link_to "New movie", new_movie_path %>
