<p style="color: green"><%= notice %></p>

<h1>Movies</h1>

<div id="movies">
  <%= @movie.title %>
  <%= @movie.rating %>
</div>

<%= link_to "Next Suggestion", movies_path, class: 'border-2 border-black text-blue-700'%>
<%= link_to "New movie", new_movie_path %>
