<h1 class='heading text-white'>Movies</h1>
<div class='flex justify-center'>
  <div class='card w-[500px]'>
    <div id="movies" class='text-center'>
      <p class='font-bold'><%= @movie.title %></p>
      <div class= 'flex items-start justify-center px-1 py-2'>
        <% (0..@movie.rating.to_i-1).each do %>
          <%= image_tag 'star.svg' , style: 'width:20px'%>
        <% end %>
      </div>
    </div>
    <div class='relative flex justify-center'>
      <%= link_to "Next Suggestion",movies_path, class: 'btn-primary'%>
    </div>
  </div>
  
</div>
<%= render 'layouts/history', { options: @current_user.movies, clear_history_path: clear_history_movies_path } %>
<div class='flex justify-center'>
  <%= link_to "Add new movie", new_movie_path, class: 'btn-primary' %>
</div>
